// @import "../../node_modules/normalize.css/normalize";

@import "../../node_modules/bootstrap/scss/bootstrap-reboot";

@import "../../node_modules/bootstrap/scss/bootstrap-grid";

@import "../../node_modules/tiny-slider/dist/tiny-slider";

@import "mixins/media";

@import "mixins/mixins";

@import "utils/variables";

@import "utils/fonts";

@import "common/global";

@import "common/header";

@import "common/menu";

@import "common/hamburger";

@import "common/btn";

@import "common/title";

@import "common/hero";

@import "common/right-food";

@import "common/required-food";

@import "common/advantages";

@import "common/insta";

@import "common/personal-menu";

@import "common/footer";

