.hero {    
    padding-top: 50px;    
    width: 100%;
    height: auto;
    overflow-x: hidden;
    @include media-tablet {
        min-height: 1166px;
    }
    @include media-mobile {        
        min-height: unset;
    }
}

.hero__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 737px;
    @include media-tablet {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;        
    }
}

.hero__text-content {
    padding-top: 180px;
    width: 500px;
    flex-shrink: 0;
    @include media-tablet {
        padding-top: 0;
        width: 400px;
    }
    @include media-mobile {        
        width: 300px;
    }
}

.hero__title {
    font-size: 50px;
    line-height: 53px;
    color: #2B2B2B;
    @include media-tablet {
        font-size: 32px;
        line-height: 34px;
    }
    @include media-mobile {
        font-size: 25px;
        line-height: 26px;
    }
}

.hero__text {
    margin-top: 28px;
    font-weight: 500;
    font-size: 23px;
    line-height: 32px;
    @include media-tablet {
        margin-top: 25px;
        font-size: 18px;
        line-height: 25px;
    }
    @include media-mobile {
        margin-top: 20px;
        font-size: 16px;
        line-height: 22px;
    }
}

.hero__btn {
    margin: 50px 6px 0 6px;
    @include media-tablet {
        margin: 50px auto 0 auto;
    }
}

.hero__slides {
    position: relative;
    width: 600px;
    &::before, &::after {
        content: '';
        position: absolute;
        left: calc(50% + 100px);
        transform: translateX(-50%);
        z-index: -1;
        border-radius: 50%;
        box-sizing: border-box;
    }  
    &::before {        
        top: 130px;  
        width: 422px;
        height: 422px;        
        border: 124px solid rgba($color: $main-color, $alpha: 0.1);               
    }  
    &::after {        
        top: 90px;  
        width: 502px;
        height: 502px;        
        border: 2px solid rgba($color: $main-color, $alpha: 0.1);                
    }
    @include media-tablet {
        margin-top: 130px;
        width: 100%;
    }
    @include media-mobile {
        margin-top: 100px; 
        &::before, &::after {
            display: none;
        }       
    }
}

.hero__slide { 
    &--active {
        .hero__slide-img {
            position: absolute;
            top: 0;
            left: calc(50% + 140px);
            transform: translateX(-50%);
            display: block;
            max-width: unset;  
            @include media-mobile {
                left: 50%;
                top: 50px;
            }          
        } 
        .hero__slide-header {
            color: #2B2B2B;        
            &::before {   
                background-color: $main-color;
            }  
            &::after { 
                border: 2px solid $main-color; 
            }            
        }
    }
    @include media-mobile {
        position: relative;
        min-height: 737px;
        width: 100%;
        overflow: hidden;
    }
}

.hero__slide-header {
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0 45px 0 0;
    font-size: 14px;
    line-height: 20px;
    color: #BFBFBF;
    transition: color 0.6s, transform 0.6s;
    cursor: pointer;
    &::before, &::after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
        border-radius: 50%;
        box-sizing: border-box;
        transition: background-color 0.6s, border 0.6s;
    }
    &::before {        
        right: 5px;   
        width: 18px;
        height: 18px;        
        background-color: rgba($color: $main-color, $alpha: 0.53);
    }  
    &::after {        
        right: 0;
        width: 28px;
        height: 28px; 
        background-color: transparent;       
        border: 2px solid rgba($color: $main-color, $alpha: 0.53); 
    }
    &:hover {
        color: #2B2B2B;
        transform: scale(1.1);
        &::before {   
            background-color: $main-color;
        }  
        &::after { 
            border: 2px solid $main-color; 
        }
    }
    &--1 {
        top: 185px;
        right: calc(50% + 95px);
    }
    &--2 {
        top: 320px;
        right: calc(50% + 140px);
    }
    &--3 {
        top: 450px;
        right: calc(50% + 100px);
    }
    @include media-mobile {
        position: static;
        padding: 0;
        margin: 0;
        font-size: 18px;
        line-height: 20px;
        color: #2B2B2B;
        cursor: unset;

        &::before, &::after {
            display: none;
        }   
        &:hover {            
            transform: none;            
        }    
    }
}

.hero__slide-img {
    display: none;
    @include media-mobile {
        position: absolute;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        max-width: unset;
    }
}

.hero__slides-next, .hero__slides-prev {
    display: none;
    @include media-mobile {
        position: absolute;
        top: 490px;        
        display: block;
        width: 33px;
        height: 33px;
        background-color: $main-color;
        border: none;
        border-radius: 50%;
        transition: transform 0.6s, filter 0.6s;
        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;            
            width: 10px;
            height: 10px;   
            transform-origin: center;
        }
        &:hover, &:active {
            transform: scale(1.1);
            filter: brightness(1.1);
        }
    }
}

.hero__slides-prev {    
    @include media-mobile {        
        left: 15px;
        &::before {
            border-bottom: 3px solid #ffffff;
            border-left: 3px solid #ffffff;
            transform: translate(calc(-50% + 2px), -50%) rotate(45deg);
        }
    }
}

.hero__slides-next {    
    @include media-mobile {        
        right: 15px;
        &::before {
            border-top: 3px solid #ffffff;
            border-right: 3px solid #ffffff;
            transform: translate(calc(-50% - 2px), -50%) rotate(45deg);
        }
    }
}


//Tiny Slider Prev and Next customization
.hero .tns-outer {
    position: relative;
}

.hero [data-controls] {
    display: none;

    @include media-mobile {
        position: absolute;
        top: 490px;
        z-index: 10;
        display: block;
        width: 33px;
        height: 33px;
        background-color: $main-color;
        border: none;
        border-radius: 50%;
        transition: transform 0.6s, filter 0.6s;

        &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 10px;
            height: 10px;
            transform-origin: center;
        }

        &:hover,
        &:active {
            transform: scale(1.1);
            filter: brightness(1.1);
        }
    }
}

.hero [data-controls="prev"] {
    @include media-mobile {
        left: 3%;

        &::before {
            border-bottom: 3px solid #ffffff;
            border-left: 3px solid #ffffff;
            transform: translate(calc(-50% + 2px), -50%) rotate(45deg);
        }
    }

    @include media-custom(490px) {
        left: 10%;
    }

    @include media-custom(415px) {
        left: 17%;
    }

    @include media-custom(350px) {
        left: 20%;
    }
}

.hero [data-controls="next"] {
    @include media-mobile {
        right: 3%;

        &::before {
            border-top: 3px solid #ffffff;
            border-right: 3px solid #ffffff;
            transform: translate(calc(-50% - 2px), -50%) rotate(45deg);
        }
    }

    @include media-custom(490px) {
        right: 10%;
    }

    @include media-custom(415px) {
        right: 17%;
    }

    @include media-custom(350px) {
        right: 20%;
    }
}