.menu {
    @include reset-list;    
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap; 
    @include media-mobile {
        display: block;
        padding-top: 70px;
    }
}

.menu__item {
    &:not(:first-child) {
        margin-left: 90px;
        @include media-tablet {
            margin-left: 10px;        
        }
    }    
    @include media-mobile {
        display: block;
        width: 100%;
        text-align: center;
        margin: 30px 0;
        padding: 0;
    }
}

.menu__link {
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    color: #000000;
    text-decoration: none;
    &:hover, &:active {
        color: $main-color;
        text-decoration: none;
    }
    @include media-mobile {
        display: block;        
        text-align: center;
        margin: 0 40px;
        color: #ffffff;
        font-size: 20px;
        font-weight: 700;
        &:hover, &:active {     
            color: #ffffff;       
            text-decoration: underline;
        }
    }
}

.menu__close {
    display: none;
    @include media-mobile {
        position: absolute;
        top: 20px;
        right: 20px;  
        display: block;
        border: none;      
        padding: 10px;
        color: #ffffff;
        font-size: 50px;
        font-weight: 700;
        background-color: transparent;
    } 
}