.title {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 41px;
    line-height: 48px;
    color: #27AE60;
    @include media-mobile {
        font-size: 22px;
        line-height: 26px;
    }
}

.title--white {    
    color: #ffffff;
}

.title--center {
    text-align: center;
}